.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 10%;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 10%;
}

.aboutMaterialAdvantage {
    width: 70%;
    display: flex;
    flex-direction: column;
    column-gap: 70%;
    margin: 4rem, 5rem;
    color: var(--heading-color);
}

.aboutMALine {
    width: 70%;
    height: 1px;
    background-color: #B6B5B5;
    margin-top: 0.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    /* height: 45vh; */
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.elements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.aboutMATitle {
    color: var(--heading-color);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    /* width: 80vw; */
    width: 100%;
}

.about-MA-Desc {
    font-family: 'Roboto', sans-serif;
    color: var(--heading-color);
    /* width: 100%; */
    height: 100%;
}

.btn {
    background-color: var(--button-color);
    color: #fff;
    box-shadow: 1px 3px 4px var(--more-info-shadow);
    border-radius: 50%, 0;
    width: 150%;
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    border: none;

    width: clamp(2px,100%,150px);
}

.brandLogos {
    background-color: var(--grey-section-color);
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Logos img{
    width: 100%;
}

.Logos {
    width: max(36vw,280px);
}

.brandLogos img {
    width: 20%;
}

.contact {
    font-family: 'Roboto', sans-serif;
    color: var(--heading-color);
    font-size: 1.2rem;
}

.Socials {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: max(10%,40px);
}

.handles {
    font-size: 2rem;
}

.joinButton .btn{
    width: 100%;
}

.container {
    height: fit-content;
    padding: 4rem;

    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.elements h1 {
    width: 100%;
}

@media(max-width:768px) {
    .elements {
        width: 100%;
        display: flex;
        flex-direction: column;
        column-gap: 20%;
    }
    .joinButton {
        height: 40%;
    }
    .about-MA-Desc {
        width: 100%;
    }
    .aboutMATitle {
        width: 100%;
    }
    .elements {
        height: 40%;
    }
    .brandLogos img{
        width: 40%;
    }
    .container {
        padding: 4rem 1rem;
    }
}

@media(max-width:560px) {
    .MALogo {
        width: 70%;
    }
    .aboutMATitle {
        font-size: 1.3rem;
        height: 40%;
        width: 100%;
    }
    .about-MA-Desc {
        font-size: 0.7rem;
        height: 40%;
        width: 100%;
    }
    .handles {
        font-size: 1.5rem;
        width: 1vw;
    }
    .contact {
        font-size: 1rem;
        height: 40%;
    }
    .elements {
        display: flex;
        flex-direction: column;
        column-gap: 80%;
        height: 40%;
    }
    .joinButton {
        height: 40%;
    }
    .aboutMaterialAdvantage {
        margin: 2rem 3rem;
    }
}