* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
}


/* navbar starts here */

header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    height: 52px;
    justify-content: center;
    background-color: #fff;
}

.navbar-container .logo-container {
    display: flex;
    width: auto;
    justify-content: center;
}

.navbar-container .logo-container img {
    width: auto;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.navbar .navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(0.8rem, 0.5vw);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 1.2rem;
    text-align: center;
}

.navbar .navlink:hover {
    background-color: var(--highlight);
}

.navbar .active {
    background-color: var(--highlight);
    border-bottom: 4px solid var(--highlight-border);
}

.mobile-navbar {
    display: none;
}


/* Responsive navbar (for later) */


/* @media only screen and (max-width: 700px) {
    .navbar {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .mobile-navbar {
        display: block;
    }
} */


/* Hero Section, Saksham Kathuria */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image {
    width: 100%;
    opacity: 0.58;
    z-index: 0;
}

.hero-logo {
    width: 30%;

    position: absolute;
    z-index: 1;

    bottom: 20%;
}

.vit-logo {
    width: 300px;
    position: absolute;
    top: 0;
    left: 3%;
}

.asm-logo {
    width: 200px;
    position: absolute;
    top: 35px;
    right: 50px;
}


/* About Material Advantage, Ishaan */

.aboutMaterialAdvantage {
    width: 50%;
    margin: 4rem auto;
}

.aboutMAHeading {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.1rem;
}

.aboutMALine {
    width: 100%;
    height: 1px;
    background-color: #B6B5B5;
    margin-top: 0.4rem;
}

.aboutMADesc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--body-color);
    text-align: justify;
}

.aboutMAButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 35px;
}

.abtMAButton {
    height: 3.2rem;
    width: 12rem;
    border-style: none;
    border-radius: 20px;
    box-shadow: 1px 3px 4px var(--more-info-shadow);
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}

.abtMAButton:hover {
    cursor: pointer;
}

.registerBtn {
    background-color: var(--button-color);
    color: white;
}

.moreInfoBtn {
    background-color: white;
    color: var(--more-info-color);
}


/* upcoming events */

.events {
    background-color: var(--grey-section-color);
    height: max-content;
}

.upcoming-events {
    padding-left: 25%;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-left: 30%;

    margin: 50px 0 ;
}

.calendar {
    width: 181px;
    padding-top: 1%;
}

.detail1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.up {
    color: var(--body-color);
    font-size: 2rem;
}

.watch {
    color: var(--body-color);
    font-size: 1rem;
}

.moreEvents {
    height: 2rem;
    width: 12rem;
    background-color: #6D89EC;
    color: white;
}

.More {
    padding-left: 45%;
    padding-bottom: 5%;
}


/* #upcoming {
    padding-top: 5%;
} */


/* gallery */

h1 {
    padding-top: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.1rem;
}

.galleryContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 25%;

    margin: 0 0 80px 0;
}

#gallery {
    line-height: 1;
    -webkit-column-count: 5;
    /* split it into 5 columns /
    -webkit-column-gap:5px; / give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
}

.galleryLine {
    width: 60%;
    height: 1px;
    background-color: #B6B5B5;
    margin-top: 0.4rem;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    /* to match column gap */
}

.andreas {
    padding-top: 7%;
}


/* 
@media (max-width: 1200px) {
    #gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
} */


/* Footer Section, Sanya */

footer a {
    text-decoration: none;
    color: var(--link-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--grey-section-color);
    height: 270px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.socials > h2 {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
}

.socialHandles {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    margin-left: 80px;
}

.handle > a {
    display: flex;
    align-items: center;
    gap: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.handle i {
    font-size: 2rem;
}

.fa-facebook {
    color: #365085;
}

.fa-linkedin-in {
    color: #0072b1;
}

.fa-youtube {
    color: #FF0000;
}

.socials {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.foot {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 40px;
}

.footTop {
    width: 50%;
}

.footMid {
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footBottom {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Monsterrat', sans-serif;
}

.foot-logo {
    width: 253px;
}

.footDesc {
    width: 350px;

    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.fa-address-book {
    color: white;
}

.btn {
    background-color: var(--button-color);
    color: #fff;

    box-shadow: 1px 3px 4px var(--more-info-shadow);
    border-radius: 26px;
    padding: 0.7rem 1.4rem;
    
    font-size: 1rem;

    border: none;
}

.footbar {
    display: flex;
    flex-direction: row;
}